<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <header>
      <div class="container navbar-container">
        <div class="logo-container">
          <div class="logo">
            <img
              src="https://www.mtsn1pesawaran.sch.id/assets/images/logo.png"
              alt=""
            />
            <div class="text">
              <h1>MTS Negri 1</h1>
              <h1>Pesawaran</h1>
            </div>
          </div>

          <div id="humberger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>

        <div class="nav-links">
          <ul>
            <li><a href="index.html">Beranda</a></li>
            <div class="dropdown">
              <li><a href="index.html#profil">Profil</a></li>
              <div class="dropdown-content">
                <a href="index.html#profil">Sejarah</a>
                <a href="index.html#profil">Visi & Misi</a>
                <a href="index.html#profil">Struktur Organisasi</a>
              </div>
            </div>

            <div class="dropdown">
              <li><a href="berita.html">Berita</a></li>
              <div class="dropdown-content">
                <a href="berita.html">Berita</a>
                <a href="#">Pengumuman</a>
                <a href="#">Ekstrakurikuler</a>
                <a href="#">Prestasi</a>
                <a href="#">Kurikulum</a>
                <a href="#">Kalender Pendidikan</a>
                <a href="#">Jadwal Pembelajaran</a>
              </div>
            </div>
            <div class="dropdown">
              <li><a href="#">Sertifikasi Akreditasi</a></li>
              <div class="dropdown-content">
                <a href="https://drive.google.com/file/d/1xxnYGVyeWu2U4i3UZnrBHEpFYEshY3aA/view?usp=sharing">S.A. 2019-2024</a>
                <a href="https://drive.google.com/file/d/12yPRJ8OxWpkmpJR3eQBqy7cBieBxNZf5/view?usp=sharing">S.A. 2024-2029</a>
              </div>
            </div>
            <div class="dropdown">
              <li><a href="galeri.html">Galeri</a></li>
              <div class="dropdown-content">
                <a href="galeri.html">Foto</a>
                <a href="video.html">Video</a>
              </div>
            </div>

            <li><a href="ppdb.html">PPDB</a></li>
            <li><a href="kontak.html">Kontak</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- js -->
    <script src="./js/navbar.js"></script>
    <script>
      const humbergerMenu = document.getElementById("humberger-menu");
      const navLinks = document.querySelector(".nav-links");

      humbergerMenu.addEventListener("click", function () {
        console.log("clicked");
        navLinks.classList.toggle("active");
      });
    </script>
  </body>
</html>
